In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [2]:
#specify the path to the dataset
traindir = r"C:\Users\totol\Documents\dataset\train"
valdir = r"C:\Users\totol\Documents\dataset\val"

In [3]:
def extract_url_labels(dir):
    #create an empty pandas dataframe
    df = pd.DataFrame({'url': [], 'label': []})
    actions_dir = listdir(dir)
    for tmpdir in actions_dir:
        #print(tmpdir)
        Lfiles = listdir(dir+"\\"+tmpdir)
        #print(Lfiles)
        for video in Lfiles:
            df.loc[len(df)] = [dir + "\\"+ video, tmpdir]
    return(df)

In [4]:
train_data =extract_url_labels(traindir)
train_data

                                                    url           label
0     C:\Users\totol\Documents\dataset\train\-dJCAuk...      applauding
1     C:\Users\totol\Documents\dataset\train\-EP-5Lq...      applauding
2     C:\Users\totol\Documents\dataset\train\-LXRdUM...      applauding
3     C:\Users\totol\Documents\dataset\train\-PgjjBi...      applauding
4     C:\Users\totol\Documents\dataset\train\-r8c7F4...      applauding
...                                                 ...             ...
8696  C:\Users\totol\Documents\dataset\train\_gLNQ0e...  washing dishes
8697  C:\Users\totol\Documents\dataset\train\_PBVM5E...  washing dishes
8698  C:\Users\totol\Documents\dataset\train\_Q9DzFp...  washing dishes
8699  C:\Users\totol\Documents\dataset\train\_zgt8QO...  washing dishes
8700  C:\Users\totol\Documents\dataset\train\__h0JID...  washing dishes

[8701 rows x 2 columns]

In [5]:
val_data = extract_url_labels(valdir)
val_data

                                                   url           label
0    C:\Users\totol\Documents\dataset\val\KGAGYJI51...      applauding
1    C:\Users\totol\Documents\dataset\val\KMHDg1rBQ...      applauding
2    C:\Users\totol\Documents\dataset\val\kMM5v77Tu...      applauding
3    C:\Users\totol\Documents\dataset\val\Kn9-3lPzS...      applauding
4    C:\Users\totol\Documents\dataset\val\koecwPF1b...      applauding
..                                                 ...             ...
481  C:\Users\totol\Documents\dataset\val\xJD73jh8U...  washing dishes
482  C:\Users\totol\Documents\dataset\val\YDIk6Lmlv...  washing dishes
483  C:\Users\totol\Documents\dataset\val\zaKK2ZjRR...  washing dishes
484  C:\Users\totol\Documents\dataset\val\ZnjpSYYDh...  washing dishes
485  C:\Users\totol\Documents\dataset\val\ZZZdwibj-...  washing dishes

[486 rows x 2 columns]